.back-link {
  a {
    display: flex;
    align-items: center;

    text-decoration: none;
    @extend %text-16-medium;
    color: $black-color;

    svg {
      transform: rotate(-180deg);
      margin-right: 6px;
    }

    &:hover {
      color: $secondary-color;
    }

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 20px;

      svg{
        height: 16px;
        width: 16px;
      }
    }
  }
}