.read-more {
  a {
    display: flex;
    align-items: center;
    @extend %text-16-medium;
    color: $primary-color;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.4s ease;

    svg {
      margin-left: 2px;

      path {
        transition: all 0.4s ease;
      }
    }

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 20px;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    &:hover {
      color: $black-color;
      transition: all 0.4s ease;

      svg path {
        fill: $black-color;
      }
    }
  }
}