.section {
  &-title {
    @extend %section-title;
    color: $black-color;

    @media (max-width: 1199px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &-subtitle {
    @extend %section-subtitle;
    color: $black-color;

    @media (max-width: 1199px) {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
