.watermark {
  &-top-page, &-bottom-page {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    img {
      width: 339px;
      height: 226px;
    }
  }

  &-bottom-page {
    bottom: 0;
    top: auto;
  }

  &__what-we-study {
    position: absolute;
    right: 0;
    top: -40px;

    img {
      height: 226px;
      object-fit: contain;

      @media (max-width: 1500px) {
        height: 190px;
      }

      @media (max-width: 1199px) {
        display: none;
      }
    }
  }

  &__international-programs {
    position: absolute;
    right: 0;
    top: 174px;
    z-index: 1;

    img {
      height: 370px;
      object-fit: contain;

      @media (max-width: 1500px) {
        height: 340px;
      }

      @media (max-width: 1199px) {
        display: none;
      }
    }
  }
}