.news-single {
  &__title {
    margin: 20px 0 0;
    @extend %title-36-bold;
    color: $black-color;
  }

  &__content {
    .news__date-and-category {
      margin-top: 20px;
    }
  }

  &__text {
    margin-top: 20px;
    @extend %text-18-30-medium;
    color: $black-color;

    b, strong {
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }

    ul {
      li {
        &::marker {
          color: $primary-color;
        }
      }
    }

    blockquote {
      display: block;
      padding: 15px 45px;
      margin: 0 0 20px;
      position: relative;
      text-align: justify;
      border-left: 6px solid $primary-color;
      background-color: $light-bg-color;
    }

    blockquote::before {
      content: "\201C";

      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: $black-color;

      position: absolute;
      left: 10px;
      top: 5px;
    }

    blockquote::after {
      content: "";
    }

    p {
      margin-bottom: 32px;
      text-align: justify;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}