.news-single {
  &__title {
    margin: 20px 0 0;
    @extend %title-36-bold;
    color: $black-color;

    @media (max-width: 1199px) {
      font-size: 30px;
      line-height: 36px;
    }

    @media (max-width: 991px) {
      font-size: 26px;
      line-height: 32px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__content {
    .news__date-and-category {
      margin-top: 20px;
    }
  }

  &__text {
    margin-top: 20px;
    @extend %text-18-30-medium;
    color: $black-color;

    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 26px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }

    b, strong {
      font-weight: 600;
    }

    a {
      text-decoration: none;
      color: $primary-color;
      transition: all 0.4s ease;

      &:hover {
        color: $secondary-color;
        transition: all 0.4s ease;
      }
    }

    ul {
      li {
        &::marker {
          color: $primary-color;
        }
      }
    }

    blockquote {
      display: block;
      padding: 18px 40px;
      margin: 0 0 20px;
      position: relative;
      text-align: justify;
      border-left: 6px solid $primary-color;
      background-color: $light-bg-color;

      @media (max-width: 767px) {
        padding: 14px 30px;
      }
    }

    blockquote::before {
      content: "\201C";

      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: $black-color;

      position: absolute;
      left: 10px;
      top: 5px;
    }

    blockquote::after {
      content: "";
    }

    p {
      margin: 26px 0;
      text-align: justify;

      @media (max-width: 1199px) {
        margin: 20px 0;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}