@mixin hp-slider-arrows {
  .slick {
    &-next, &-prev {
      z-index: 2;
      position: absolute;
      top: -30px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 991px) {
        top: -22px;
      }

      &:before {
        font-size: 0;
        line-height: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        content: "";
        background: url("../../../icons/arrows/arrow-black.svg") no-repeat 0 0;
        background-size: 100%;
        transition: all 0.4s ease;

        @media (max-width: 1199px) {
          height: 16px;
          width: 16px;
        }
      }
    }

    &-prev {
      left: 0;

      &:before {
        transform: rotate(-180deg);
      }
    }

    &-next {
      left: 30px;

      @media (max-width: 1199px) {
        left: 22px;
      }
    }
  }
}

.homepage {
  &-mt {
    margin-top: 100px;

    @media (max-width: 1199px) {
      margin-top: 80px;
    }

    @media (max-width: 991px) {
      margin-top: 60px;
    }
  }

  &-content-mt {
    margin-top: 48px;

    @media (max-width: 991px) {
      margin-top: 34px;
    }
  }

  &-title {
    .section {
      &-title {
        margin-top: -6px;

        @media (max-width: 1199px) {
          margin-top: -2px;
        }

        @media (max-width: 575px) {
          margin-top: 0;
        }
      }

      &-title, &-subtitle {
        margin: 0;
        padding: 0;
      }
    }

    //@media (max-width: 575px) {
    //  //display: flex;
    //  //align-items: center;
    //  //justify-content: center;
    //  display: inline;
    //
    //  .section {
    //    &-title, &-subtitle {
    //      font-size: 18px;
    //      line-height: normal;
    //      text-transform: none;
    //      font-weight: 600;
    //    }
    //
    //    &-title {
    //      margin-left: 4px;
    //      text-transform: lowercase;
    //    }
    //
    //    &-subtitle {
    //      text-transform: capitalize;
    //    }
    //  }
    //}
  }
}