//$container-max-widths: (
//        xs: 460px,
//        sm: 520px,
//        md: 720px,
//        lg: 960px,
//        xl: 1134px,
//);
//
//$grid-breakpoints: (
//        xxs: 0,
//        xs: 375px,
//        sm: 544px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px,
//        xxl: 1300px
//);

//$container-max-widths: (
//        xxs: 375px,
//        xs: 375px,
//        sm: 544px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px,
//        xxl: 1300px
//);

$grid-breakpoints: (
  // Extra small screen / phone
        xxxs: 0,
        xxs: 448px,
        xs: 524px,
  // Small screen / phone
        sm: 576px,
  // Medium screen / tablet
        md: 768px,
  // Large screen / desktop
        lg: 992px,
  // Extra large screen / wide desktop
        xl: 1200px
);

$container-max-widths: (
        xxxs: 375px,
        xxs:  420px,
        xs:   480px,
        sm:   540px,
        md:   720px,
        lg:   960px,
        xl:   1134px
);

$grid-gutter-width: 1.125rem;

@import "node_modules/bootstrap/scss/bootstrap-grid";