$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1134px,
        xxl: 1134px
);

$grid-gutter-width: 1.125rem;

@import "node_modules/bootstrap/scss/bootstrap-grid";