$primary-color: #B1040E;
$secondary-color: #820000;
$yellow-color: #FCDF51;
$white-color: #FFFDFD;
$light-bg-color: #FAF6ED;
$black-color: #474747;

%section-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

%section-subtitle {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

%title-18-bold {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

%title-20-semi-bold {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

%title-30-semi-bold {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

%title-36-bold {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

%text-medium {
  font-family: Avenir Next Cyr, sans-serif;
  font-style: normal;
  font-weight: 400;
}

%text-16-medium {
  @extend %text-medium;
  font-size: 16px;
  line-height: 22px;
}

%text-18-24-medium {
  @extend %text-medium;
  font-size: 18px;
  line-height: 24px;
}

%text-18-30-medium {
  @extend %text-medium;
  font-size: 18px;
  line-height: 30px;
}