@import "libs";
@import "mygrid";
@import "ui-kit";
@import "fonts";

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background-color: $white-color;
}

main {
  min-height: 52vh;
}

@import "blocks/header";
@import "blocks/menu";
@import "blocks/footer";

@import "components/text-styles";
@import "components/item-style";
@import "components/watermark";
@import "components/main-content-wrapper";
@import "components/pagination";
@import "components/read-more";
@import "components/back-link";
@import "components/loader";
@import "components/return-to-top";

@import "pages/homepage/homepage";
@import "pages/homepage/hp-main-section";
@import "pages/homepage/hp-our-advantages";
@import "pages/homepage/hp-what-we-study";
@import "pages/homepage/hp-we-propose";
@import "pages/homepage/hp-future-professions";
@import "pages/homepage/hp-specialties";
@import "pages/homepage/hp-international-programs";
@import "pages/homepage/hp-our-graduates";
@import "pages/homepage/hp-our-partners";
@import "pages/homepage/hp-final-quote";

@import "pages/specialties-description";
@import "pages/news";
@import "pages/news-single";
@import "pages/teachers";
@import "pages/teachers-single";
@import "pages/quality-of-education";