@import "libs";
@import "mygrid";
@import "ui-kit";
@import "fonts";

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background-color: $white-color;
}

main {
  min-height: 52vh;
}

@import "blocks/header";
@import "blocks/footer";

@import "components/text-styles";
@import "components/watermark";
@import "components/main-content-wrapper";
@import "components/pagination";
@import "components/read-more";
@import "components/back-link";
@import "components/loader";
@import "components/return-to-top";

@import "pages/homepage";
@import "pages/specialties-description";
@import "pages/news";
@import "pages/news-single";
@import "pages/teachers";
@import "pages/teachers-single";
@import "pages/quality-of-education";